@media (min-width: 535px) and (max-width: 824px){
	[class*="col-"]{                       
		width: 100%;
	}
	.picture{
		border:12px solid #abe188;
	}
  .about-panda{
    background-color: #f78e69;
  }
  .paragrahp-panda{
    background-color: #abe188; 
    color:#000;
  }
	.panda-pictures{
    background-color: #f78e69;
  }

}
